.ninersLogo
{
    height: 60px;
}
.introPic
{
    height: 400px;
    width: 600px;
}
.body
{
    background: rgb(0, 0, 0);
}
.font49
{
    -webkit-text-fill-color: maroon;
    
}
.fontQwhite
{
    -webkit-text-fill-color: whitesmoke;
}
.bBack
{
    background: black;
}
